doctype html
head
  meta(charset="utf-8")
  title 联动
  script(src="index.js", charset="utf-8")
  link(rel="stylesheet", href="index.css")
body
  form
    input#student(type="radio", name="student", value="true", checked)
    label(for="student") 在校生
    input#nonstudent(type="radio", name="student", value="false")
    label(for="nonstudent") 非在校生
    .tab(data-for="student")
      span 学校
      .content
        select#city-select(name="city", onchange="updateSchools()")
          option(value="beijing") 北京
          option(value="shanghai") 上海
          option(value="zhejiang") 浙江
        select#school-select(name="school")
    .tab(data-for="nonstudent")
      span 就业单位
      .content
        input(type="text", name="employer")